.calculator {
  background: #3a4654;
  width: 336px;
  height: 515px;
  border-radius: 5px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -260px 0 0 -168px;
}

.calculator-display-panel {
  height: 75px;
  padding: 15px 20px;
  text-align: right;
}

.calculator-display-panel-equation {
  font-size: 16px;
  margin-bottom: 8px;
}

.calculator-display-panel-result {
  font-weight: 300;
  font-size: 34px;
}

.calculator-display-panel-result-small-font {
  font-size: 22px;
  margin-top: 18px;
}

.calculator-buttons-panel {
  width: 100%;
  height: 389px;
  background: #3a4000;
}

.calculator-button {
  width: 84px;
  height: 82px;
  border: 1px solid #3a4654;
  background: #374351;
  font-size: 20px;
  font-weight: 300;
  cursor: pointer;
  outline: 0;
  float: left;
}

@media only screen and (min-width: 481px) {
  .calculator-button:hover {
    background: #445364;
  }
}

@media only screen and (max-width: 480px) {
  .calculator {
    width: 98%;
    left: 1%;
    margin-left: 0;
  }

  .calculator-display-panel {
    height: 60px;
  }

  .calculator-display-panel-equation {
    font-size: 14px;
    margin-bottom: 6px;
  }

  .calculator-display-panel-result {
    font-size: 30px;
    margin-top: 6px;
  }

  .calculator-display-panel-result-small-font {
    font-size: 20px;
    margin-top: 11px;
  }

  .calculator-button {
    width: 25%;
    height: 20%;
  }

}